{% extends 'base.html' %} 
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">Rahul Raphy</p>
        <p class="card-text ">{{ posts.body }}</p>
      </div>
      <form action="/update/{{posts.id}}">
        <input class="btn btn-primary" type="submit" value="Update"/>
       </form>
       </br>
       <form action="/delete/{{posts.id}}">
         <input class="btn btn-danger" type="submit" value="Delete">
       </form>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}
