{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About Me 🤷</h5>
    <div class="card-body">
      <p class="card-text"> I'm Rahul Raphy, a passionate developer from Kochi familiar with a variety of programming languages including Python, SQL, JavaScript, HTML, CSS but I’m always adding new skills to my repository! You can also visit my LinkedIn & Github Profiles </p>
      <a href="https://www.linkedin.com/in/rahulraphy/" class="btn btn-danger">LinkedIn Profile</a>
      <a href="https://github.com/rahul-raphy" class="btn btn-secondary">Github Profile</a>
    </div>
  </div>
</div>

{% endblock sidebar %}